<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.clore.wxcr.dao.CountersMapper">

    <resultMap id="countersMapper" type="net.clore.wxcr.model.Counter">
        <id property="openid" column="openid"/>
        <result property="count" column="count"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getCounter" resultMap="countersMapper" parameterType="java.lang.String">
        SELECT `openid`, `count`, `createdAt`, `updatedAt`
        FROM Counters
        WHERE openid = #{openid}
    </select>

    <delete id="clearCount" parameterType="java.lang.String">
        DELETE
        FROM Counters
        where openid = #{openid}
        limit 1
    </delete>

    <update id="upsertCount" parameterType="net.clore.wxcr.model.Counter">
        INSERT INTO `Counters`(`openid`, `count`)
        VALUE(#{openid}, #{count})
        ON DUPLICATE KEY UPDATE count=#{count}
    </update>

</mapper>
